/* Name: Paulo Alfredo Medeiros da Fonseca
 * Student number: 8903202
 */

body{
    font: normal normal normal 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    background-color: hsla(200, 40%, 80%, 0.7);
    height: 100vh;
    width:  100vw;
}

h1{
    color: white;
    font-size: 30px;
}

h2{
    font-size: 2rem;
    color: #fc9;

}
header{
    background-color: hsl(320, 85%, 26%);
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a{
    border: 2px solid indigo;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 4px;
}
nav ul li a:hover{
    border: 2px solid cornsilk;
    color: cornsilk;
    background-color: indigo;
}

main{
    float: left;
    width: 65vw;
    background-color: hsl(100, 75%, 47%);
}

aside{
    float: right;
    width: 25vw;
    background-color: hsl(59, 92%, 52%);
    
}

aside ul{
    list-style: square;
}
aside li, a{
    line-height: 1.5rem;
    color: rgba(200, 90, 127, .5);
}
aside a{
    color: rgba(200, 90, 127, .5);
}

aside a:hover{
    color: #f09;
}

footer{
    clear: both;
    background-color: hsl(300, 53%, 56%);
}

.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

#para1{
    color: rgb(105, 14, 253);
}

#para2{
    color: rgb(200, 20, 28);
}

footer p{
    font-size: .75em;
}

form{
    border: 5px dashed darkblue;
    padding: 5px;
}

input[type=text], input[type=email], input[type=submit], select, option{
    width: 50%;
    display: block;
    height: 2em;
}

input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}

select, option, label, legend, nav a{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}

fieldset{
    border: none;
}


