/* Name: Paulo Alfredo Medeiros da Fonseca
 * Student number: 8903202
 */

html{
        font: normal normal normal 20px/1.5 Verdana, Arial, Helvetica, sans-serif;
}

body{
    background-color: hsla(200, 40%, 80%, 0.7);
    height: 100vh;
    width:  100vw;
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    color: #fc9;

}
header{
    background-color: hsl(320, 85%, 26%);
    flex: 1 10%;
}

nav{
    flex: 1 5%;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a{
    border: 2px solid indigo;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 1em;
}
nav ul li a:hover{
    border: 2px solid cornsilk;
    color: cornsilk;
    background-color: indigo;
}

section{
    display: flex;
    flex-direction: row;
    flex: 4 8%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

main{
    background-color: hsl(100, 75%, 47%);
    flex: 2 1 70%;
}

aside{
    background-color: hsl(59, 92%, 52%);
    flex: 1 2 30%;
}

aside ul{
    list-style: square;
}
aside li, a{
    line-height: 1.5rem;
    color: rgba(200, 90, 127, .5);
}
aside a{
    color: rgba(200, 90, 127, .5);
}

aside a:hover{
    color: #f09;
}

footer{
    background-color: hsl(300, 53%, 56%);
    flex: 1 5%;
}

.structural{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

#para1{
    color: rgb(105, 14, 253);
}

#para2{
    color: rgb(200, 20, 28);
}

footer p{
    font-size: .75em;
}

form{
    border: 5px dashed darkblue;
    padding: 5px;
}

input[type=text], input[type=email], input[type=submit], select, option{
    width: 50%;
    display: block;
    height: 2em;
}

input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}

select, option, label, legend, nav a, input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}

fieldset{
    border: none;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

figure{
    border: 2px solid gold;
}


img{
    width: 100%;
    height: 80%;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  #gallery{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}